[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest-cov = "*"
pytest-asyncio = "*"
pytest-subprocess = "*"
lint = "*"
flake8 = "*"
coverage = "*"
coveralls = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
